body {
    margin: 0;
    padding: 0;
    color: var(--cor-padrao-letras);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

.container-mensagem_professor{
    width: 90%;
    padding-top: 40rem;
}

.titulomensagem{
    margin-top: 10rem;
}

.titulomensagem h2{
    margin-bottom: 4rem;
    font-size: 3rem;  
}

.mensagem{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


input {
    padding: 1rem;
    width: 97%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--cor-drop-btn);
    color: var(--cor-padrao-letras);
    text-align: center;
}

input::placeholder{
    color: var(--cor-padrao-letras);
}

.textarea-mensagem{
    width: 100%;
    margin-bottom: 0.5rem;
    padding:1rem;
    font-size: 1rem;
    border: 0.2rem solid var(--cor-bordas);
    border-radius: 4px;
    background-color: var(--primary-color-light);
}

.textarea-mensagem {
    height: 100px;
    resize: none;
}

button[type="submit"] {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--cor-btn-enviar-bd);
    color: var(--cor-padrao-letras);
    font-weight: bold;
    cursor: pointer;
    width: 50%;
}


.container-mensagens-enviadas{
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-mensagens-enviadas table{
    width: 80%;
    border: 0.2rem solid var(--cor-bordas);
    background-color: var(--cor-fundo-formularios);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}

table, th, td{
    border: 0.2rem solid var(--cor-bordas);
    color: black;
}

td{
    padding: 1rem;
    text-align: center;
}

th{
    background-color: #f2f2f2;
    padding: 1rem;
}

.btn-excluir{
    background-color: var(--cor-btn-enviar);
    color: var(--cor-fundo-options);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 1rem;
    border-radius: 2rem;
}

.btn-excluir:hover{
    background-color: var(--cor-hover-btn-enviar);
}